
  <%- include('head')%>
  <%- include('navbar')%>
  <body>
    <div class="container">
      <div class="row">
      <div class="col s6">
      <label>START</label>
      <input type="text" class="datepicker">
    </div>
    <div class="col s6">
      <label>END</label>
      <input type="text" class="datepicker">
    </div>
  </div>
      <script>
      $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,

    });
    </script>
      <canvas id="calendar" style:"width: 800px, height:400 "></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script>
      let proteinArray =[45,100,75,30,75, 10,70]
      let calendar = document.getElementById('calendar').getContext('2d');
      let dayChart = new Chart(calendar,{
        type:'line',
        data:{
          labels:["Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday", "Sunday"],
          datasets:[{
            data:[20,25,50,30,45,60,45],
            label: "calories",
            borderColor: 'green',
            fill: false
          },{
            data:[30,44,60,80,22,44,50],
            label:"sugar",
            borderColor: 'red',
            fill: false
          }, {
            data:[75,50,85,99,80,45,60],
            label: "fat",
            borderColor:'blue',
            fill: false
          },{
            data: proteinArray,
            label: 'protein',
            borderColor: 'purple',
            fill: false
          }, {
            data:[25, 75, 90,60, 99, 45,10],
            label: "Carbs",
            borderColor: 'yellow',
            fill: false
          }, {
            data:[10, 45, 70, 90, 30,10,75],
            label: "fiber",
            borderColor: 'orange',
            fill: false
          },{
            data:[20,40,70,10,100,75,35],
            label:"bad fat",
            borderColor: 'black',

            fill: false
          }]
        },
        object:{}
      })
    </script>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
