<%- include('head', {scripts: ['/js/calendar.js', 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js', ]})%>
<%- include('navbar')%>
<body>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <label>START</label>
        <input type="text" class="datepicker">
      </div>
      <div class="col s6">
        <label>END</label>
        <input type="text" class="datepicker">
      </div>
    </div>
    <canvas id="calendar" style:"width: 800px, height:400 "></canvas>
  </div>
</body>
