<%- include('head') %>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>Today</h1>
    <ul class="collapsible popout">
      <% for (let i = 0; i < meals.length; i++) {
        let meal = meals[i];
      %>
        <%- include('meal-view', {meal: meals[i]}); %>
      <% } %>
      <li>
        <a href="#" id="addMeal"><i class="material-icons">add</i> Add Meal</a>
      </li>
    </ul>
  </div>
  <script src="/js/dashboard.js"></script>
</body>
</html>
