<%- include('head', {scripts: ['/js/dashboard.js', 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js']}) %>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>Today</h1>
    <canvas id='todayChart'></canvas>
    <ul class="collapsible popout">
      <% for (let i = 0; i < meals.length; i++) {
        let meal = meals[i];
      %>
        <%- include('meal-view', {meal: meals[i]}); %>
      <% } %>
      <%- include('meal-form', user); %>
    </ul>
  </div>
</body>
</html>
