<%- include('head'); %>
<body>
  <%- include('navbar'); %>
  <div class="container">
    <div class="row">
      <div class="col s1 m2 l3">
      </div>
      <div class="col s10 m8 l6" id="signinContainer">
        <form id="loginForm" class="login" method="POST" action="/users/login">
          <h1>Login</h1>
          <div class="input-field">
            <input placeholder="your@email.com" name="loginEmail" id="loginEmail" type="email" class="validate" />
            <label for="loginEmail">Email</label>
          </div>
          <div class="input-field">
            <input placeholder="password" name="loginPassword" id="loginPassword" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </form>
      </div>
      <div class="col s1 m2 l3">
      </div>
    </div>
    <div class="row">
      <div class="col s1 m2 l3">
      </div>
      <div class="col s10 m8 l6">
        <form id="signupForm" class="signup" method="POST" action="/users/signup">
          <h1>Sign Up</h1>
          <div class="input-field">
            <input placeholder="your@email.com" name="email" id="email" type="email" class="validate" required />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input placeholder="password" name="signupPassword" id="signupPassword" type="password" class="validate" required minlength="6" />
            <label for="signupPassword">Password (6 characters, at least one capital, one lowercase and one number)</label>
          </div>
          <div class="input-field">
            <input placeholder="password" name="verifyPassword" id="verifyPassword" type="password" class="validate" required minlength="6" />
            <label for="verifyPassword">Verify Password</label>
          </div>
          <button class="btn waves-effect waves-light" type="submitSignup">Submit</button>
        </form>
      </div>
      <div class="col s1 m2 l3">
      </div>
    </div>
  </div>
</body>
</html>
