<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nutribase - Login</title>
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/materialize.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s1 m2 l3">
      </div>
      <div class="col s10 m8 l6">
        <form id="loginForm" class="login" method="POST" action="/users/login">
          <h1>Login</h1>
          <div class="input-field">
            <input placeholder="your@email.com" name="email" id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input placeholder="password" name="password" id="password" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </form>
      </div>
      <div class="col s1 m2 l3">
      </div>
    </div>
  </div>
</body>
</html>
