<li>
  <div class="collapsible-header">
    <i class="medium material-icons">add</i>
    Add Meal
  </div>
  <div class="collapsible-body">
    <form id="mealForm" name="meal-form">
      <div class="row">
        <div class="col s4">
          <input name="mealLabel" id="mealLabel" placeholder="Label"/>
        </div>
      </div>
      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header">
            <i class="medium material-icons">add</i> Add Food
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s4">
                <select id="foodGroups">
                  <option disabled selected>Food Group</option>
                </select>
              </div>
              <div class="input-field col s8">
                <select id="foods">
                  <option disabled selected>Food Name</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="range-field col s4">
                <label for="quantity">Quantity</label>
                <input type="range" id="quantity" min="0" max="5" value="1" step="0.1" />
              </div>
              <div class="col s8">
                <div class="row">
                  <div class="col s6">
                    <div>
                      Calories: <span id="caloriesValue" class="value">0</span>
                    </div>
                    <div>
                      Fat: <span id="fatValue" class="value">0</span>
                    </div>
                    <div>
                      Sugar: <span id="sugarValue" class="value">0</span>
                    </div>
                    <div>
                      Protein: <span id="proteinValue" class="value">0</span>
                    </div>
                  </div>
                  <div class="col s6">
                    <div>
                      Carbs: <span id="carbohydratesValue" class="value">0</span>
                    </div>
                    <div>
                      Fiber: <span id="fiberValue" class="value"></span>
                    </div>
                    <div>
                      Bad Fat: <span id="bad_fatValue" class="value"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <input type="submit" class="btn" />
    </form>
  </div>
</li>
