<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nutribase </title>
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
</head>
<body>
<form name="profile-edit" action="/users/profile/?_method=PATCH" method="POST">
  <div class="row">
    <div class="col s12">
      Name:
      <input id="name" name="name" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s12 range-field">
      Calories:
      <input type="range" name="calories" id="calories"min="0" max="5000" step="25"/>
    </div>
  </div>
  <div class="row">
    <div class="col s6 range-field">
      Sugar:
      <input id="sugar" name="sugar" type="range" min="0" max="100" step="1"/>
    </div>
    <div class="col s6 range-field">
      Fat:
      <input type="range" id="fat" name="fat"min="0" max="100" step="1"/>
    </div>
  </div>
  <div class="row">
    <div class="col s6 range-field">
      Protein:
      <input type="range" name="protein" id="protein"min="0" max="300" step="5"/>
    </div>
    <div class="col s6 range-field">
      Carbohydrates
      <input type="range" id="carbohydrates" name="carbohydrates" min="0" max="200" step="5" />
    </div>
  </div>
  <div class="row">
    <div class="col s6 range-field">
      Fiber:
      <input type="range" id="fiber" name="fiber" min="0" max="100" step="1" />
    </div>
    <div class="col s6">
      Bad Fat:
      <input type="range" id="bad_fat" name="bad_fat" min="0" max="100" step="1" />
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>
