<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nutribase </title>
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="../js/materialize.min.js"></script>
</head>
<body>
  <div class='container'>
    <canvas id='myChart'></canvas>
  </div>
  <script>
    let myChart= document.getElementById('myChart').getContext('2d');

    let nutriChart = new Chart(myChart,{
      type:'horizontalBar',
      data:{
        labels:['Calorie','Fat','Protein','Sugar','Carbs','Fiber','Bad Fat'],
        datasets:[{
          data:[200,-20,14,5,-6,-10,5],
          backgroundColor:'green',
          borderWidth: 2,
          borderColor: 'black',
          hoverBorderWidth: 4,
          hoverBorderColor:'gray'
        }]
      },
      object:{}
    })
  </script>
</body>

</html>
