/*
input[type=range]::-webkit-slider-thumb {
  background-color: red;
}

input[type=range]::-moz-range-thumb {
  background-color: red;
}

input[type=range]::-ms-thumb {
  background-color: red;
}

input[type=range]+.thumb {
  display: none;
}
*/
